In [2]:
from astropy.io import fits as pyfits
import numpy as np
SMC = pyfits.getdata('C:/Users/dougl/Desktop/smcw2-nd-intbgsub.fits')
import matplotlib.pyplot as plt
%matplotlib inline
from astropy.stats import sigma_clipped_stats
from astropy import units as u
from astropy.coordinates import SkyCoord
from photutils import SkyCircularAperture
from astropy.io import ascii
data = ascii.read("C:/Users/dougl/Desktop/star_clusters_SMC.csv", format='csv', fast_reader=False)
print(data)

         Names_1          _RAJ2000 _DEJ2000 ...  PA     Com         SimbadName
------------------------- -------- -------- ... --- ------------ ---------------
  NGC220,K18,L22,ESO29SC3  10.1292 -73.4028 ...  --   mT,in H-A3         NGC 220
                      B27   10.175 -73.8722 ...  --           --        Bruck 27
  NGC222,K19,L24,ESO29SC4  10.1833 -73.3833 ...  --   mT,in H-A3         NGC 222
          B23,SMC_OGLE170  10.2292 -73.4019 ...  40   mT,in H-A3        Bruck 23
  NGC231,K20,L25,ESO29SC5   10.275 -73.3519 ...  --   mP,in H-A3         NGC 231
       K21,L27,SMC_OGLE12    10.35 -72.8908 ...  --           --      Cl Kron 21
              SMC_OGLE166  10.4833 -73.4878 ...  80           -- OGLE-Cl SMC 166
          HW16,SMC_OGLE13  10.5917 -73.7342 ...  --  mP,in DEMS7           HW 16
        NGC241,K22w,L29W,  10.8875 -73.4403 ...  -- mP & SOGLE17         NGC 241
           B33,SMC_OGLE23  11.0542 -73.6189 ...  --           --        Bruck 33
                      ...      ...      ... ... ...          ...             ...
                     HW72   18.925 -73.1664 ...  80   in DEMS157           HW 72
                     HW74     19.2   -73.16 ... 150   in DEMS158           HW 74
                     HW75  19.3708 -73.5692 ... 170           --           HW 75
 IC1626,K53,L77,ESO29SC30  16.5542 -73.2969 ...  --           --          IC1626
                     HW52  16.7375 -73.2358 ...  --           --           HW 52
      K55,L81,SMC_OGLE157  16.8833 -73.1197 ...  --           --      Cl Kron 55
                  K57,L86  17.0583 -73.2572 ...  50           --      Cl Kron 57
NGC419,K58,L85,ESO29SC33,  17.0792 -72.8842 ...  --   & SOGLE159         NGC 419
          K61,SMC_OGLE161  17.2625 -73.0867 ...  --           --      Cl Kron 61
                      L91  18.2125 -73.1194 ...  --           --   Cl Lindsay 91
                   HW71se  18.8875 -72.3806 ... 170           mP    Name HW 71SE
Length = 161 rows

In [6]:
from astropy import units as u
from astropy.coordinates import SkyCoord
from photutils import SkyCircularAperture, SkyCircularAnnulus, aperture_photometry
from astropy.wcs import WCS
hdu = pyfits.open('C:/Users/dougl/Desktop/smcw2-nd-intbgsub.fits', ignore_missing_end=True)
w = WCS(hdu[0].header)
hdu.info()

Filename: C:/Users/dougl/Desktop/smcw2-nd-intbgsub.fits
No.    Name         Type      Cards   Dimensions   Format
  0  PRIMARY     PrimaryHDU      18   (27207, 20790)   float32

WARNING: Unexpected extra padding at the end of the file.  This padding may not be preserved when saving changes. [astropy.io.fits.header]

In [60]:
positions = SkyCoord(ra=data['_RAJ2000'] * u.deg, dec=data['_DEJ2000'] * u.deg, frame='fk5')
r=data['R_ap'] * u.arcsec

Real_phot_table = []

for i in range(0, 160):
    apertures = SkyCircularAperture(positions[i], r[i])
    Fake_phot_table = aperture_photometry(hdu[0], apertures)
    Real_phot_table.append(Fake_phot_table['aperture_sum'])
    
print(Real_phot_table)

[<Column name='aperture_sum' dtype='float64' length=1>
553.896778067, <Column name='aperture_sum' dtype='float64' length=1>
17.2601583074, <Column name='aperture_sum' dtype='float64' length=1>
363.677266051, <Column name='aperture_sum' dtype='float64' length=1>
150.40839083, <Column name='aperture_sum' dtype='float64' length=1>
704.561288395, <Column name='aperture_sum' dtype='float64' length=1>
53.750888421, <Column name='aperture_sum' dtype='float64' length=1>
42.4439426341, <Column name='aperture_sum' dtype='float64' length=1>
262.981576772, <Column name='aperture_sum' dtype='float64' length=1>
282.786218806, <Column name='aperture_sum' dtype='float64' length=1>
17.0465795206, <Column name='aperture_sum' dtype='float64' length=1>
88.9699337441, <Column name='aperture_sum' dtype='float64' length=1>
137.787198932, <Column name='aperture_sum' dtype='float64' length=1>
9.02749104965, <Column name='aperture_sum' dtype='float64' length=1>
20.6993735819, <Column name='aperture_sum' dtype='float64' length=1>
189.963337315, <Column name='aperture_sum' dtype='float64' length=1>
185.93752571, <Column name='aperture_sum' dtype='float64' length=1>
23.5233043218, <Column name='aperture_sum' dtype='float64' length=1>
71.7768796169, <Column name='aperture_sum' dtype='float64' length=1>
201.717252862, <Column name='aperture_sum' dtype='float64' length=1>
89.3041498462, <Column name='aperture_sum' dtype='float64' length=1>
9.16896884507, <Column name='aperture_sum' dtype='float64' length=1>
109.434649846, <Column name='aperture_sum' dtype='float64' length=1>
73.0095288628, <Column name='aperture_sum' dtype='float64' length=1>
2.8793835909, <Column name='aperture_sum' dtype='float64' length=1>
62.7731621079, <Column name='aperture_sum' dtype='float64' length=1>
211.706383863, <Column name='aperture_sum' dtype='float64' length=1>
138.17685525, <Column name='aperture_sum' dtype='float64' length=1>
376.569636792, <Column name='aperture_sum' dtype='float64' length=1>
91.4872563839, <Column name='aperture_sum' dtype='float64' length=1>
28.9169903361, <Column name='aperture_sum' dtype='float64' length=1>
278.413662135, <Column name='aperture_sum' dtype='float64' length=1>
122.664258179, <Column name='aperture_sum' dtype='float64' length=1>
61.2605463066, <Column name='aperture_sum' dtype='float64' length=1>
123.669481164, <Column name='aperture_sum' dtype='float64' length=1>
129.779771733, <Column name='aperture_sum' dtype='float64' length=1>
417.672441222, <Column name='aperture_sum' dtype='float64' length=1>
134.567008904, <Column name='aperture_sum' dtype='float64' length=1>
83.0591629687, <Column name='aperture_sum' dtype='float64' length=1>
45.6345517428, <Column name='aperture_sum' dtype='float64' length=1>
262.109132058, <Column name='aperture_sum' dtype='float64' length=1>
28.8653858298, <Column name='aperture_sum' dtype='float64' length=1>
137.613158742, <Column name='aperture_sum' dtype='float64' length=1>
88.1245975362, <Column name='aperture_sum' dtype='float64' length=1>
69.631677149, <Column name='aperture_sum' dtype='float64' length=1>
222.031713098, <Column name='aperture_sum' dtype='float64' length=1>
58.7310119187, <Column name='aperture_sum' dtype='float64' length=1>
28.0169888542, <Column name='aperture_sum' dtype='float64' length=1>
750.170811737, <Column name='aperture_sum' dtype='float64' length=1>
174.406182067, <Column name='aperture_sum' dtype='float64' length=1>
497.361515329, <Column name='aperture_sum' dtype='float64' length=1>
13.3663046564, <Column name='aperture_sum' dtype='float64' length=1>
35.35967463, <Column name='aperture_sum' dtype='float64' length=1>
21.5638403889, <Column name='aperture_sum' dtype='float64' length=1>
151.302496151, <Column name='aperture_sum' dtype='float64' length=1>
96.3923542716, <Column name='aperture_sum' dtype='float64' length=1>
5.9565801786, <Column name='aperture_sum' dtype='float64' length=1>
8.05533151995, <Column name='aperture_sum' dtype='float64' length=1>
2.60365397292, <Column name='aperture_sum' dtype='float64' length=1>
8.22796841537, <Column name='aperture_sum' dtype='float64' length=1>
22.0978575613, <Column name='aperture_sum' dtype='float64' length=1>
14.8603740521, <Column name='aperture_sum' dtype='float64' length=1>
10.9524400637, <Column name='aperture_sum' dtype='float64' length=1>
20.2821128643, <Column name='aperture_sum' dtype='float64' length=1>
53.4652243603, <Column name='aperture_sum' dtype='float64' length=1>
146.594457906, <Column name='aperture_sum' dtype='float64' length=1>
107.44018599, <Column name='aperture_sum' dtype='float64' length=1>
139.763179263, <Column name='aperture_sum' dtype='float64' length=1>
36.4843362174, <Column name='aperture_sum' dtype='float64' length=1>
76.50629552, <Column name='aperture_sum' dtype='float64' length=1>
43.1811056281, <Column name='aperture_sum' dtype='float64' length=1>
15.2246365285, <Column name='aperture_sum' dtype='float64' length=1>
43.3482049581, <Column name='aperture_sum' dtype='float64' length=1>
20.473633452, <Column name='aperture_sum' dtype='float64' length=1>
1.10180145001, <Column name='aperture_sum' dtype='float64' length=1>
500.311459477, <Column name='aperture_sum' dtype='float64' length=1>
9.8099856612, <Column name='aperture_sum' dtype='float64' length=1>
156.067824803, <Column name='aperture_sum' dtype='float64' length=1>
7053.52844854, <Column name='aperture_sum' dtype='float64' length=1>
171.7481637, <Column name='aperture_sum' dtype='float64' length=1>
1033.01408101, <Column name='aperture_sum' dtype='float64' length=1>
118.510297124, <Column name='aperture_sum' dtype='float64' length=1>
161.016666031, <Column name='aperture_sum' dtype='float64' length=1>
47.84498433, <Column name='aperture_sum' dtype='float64' length=1>
478.578434177, <Column name='aperture_sum' dtype='float64' length=1>
137.443900077, <Column name='aperture_sum' dtype='float64' length=1>
149.673035841, <Column name='aperture_sum' dtype='float64' length=1>
45.4871543844, <Column name='aperture_sum' dtype='float64' length=1>
392.214512525, <Column name='aperture_sum' dtype='float64' length=1>
275.714378976, <Column name='aperture_sum' dtype='float64' length=1>
12.9341995847, <Column name='aperture_sum' dtype='float64' length=1>
227.732993458, <Column name='aperture_sum' dtype='float64' length=1>
51.1980692696, <Column name='aperture_sum' dtype='float64' length=1>
13.9280964051, <Column name='aperture_sum' dtype='float64' length=1>
24.7184363995, <Column name='aperture_sum' dtype='float64' length=1>
111.734577942, <Column name='aperture_sum' dtype='float64' length=1>
748.747932621, <Column name='aperture_sum' dtype='float64' length=1>
129.099499663, <Column name='aperture_sum' dtype='float64' length=1>
521.72254347, <Column name='aperture_sum' dtype='float64' length=1>
418.76615435, <Column name='aperture_sum' dtype='float64' length=1>
2354.30935807, <Column name='aperture_sum' dtype='float64' length=1>
83.6167448368, <Column name='aperture_sum' dtype='float64' length=1>
980.259663346, <Column name='aperture_sum' dtype='float64' length=1>
408.899861608, <Column name='aperture_sum' dtype='float64' length=1>
63.6728246586, <Column name='aperture_sum' dtype='float64' length=1>
1037.08659794, <Column name='aperture_sum' dtype='float64' length=1>
325.573668977, <Column name='aperture_sum' dtype='float64' length=1>
280.135278009, <Column name='aperture_sum' dtype='float64' length=1>
93.9340584495, <Column name='aperture_sum' dtype='float64' length=1>
252.223468433, <Column name='aperture_sum' dtype='float64' length=1>
102.097071986, <Column name='aperture_sum' dtype='float64' length=1>
51.0451336581, <Column name='aperture_sum' dtype='float64' length=1>
66.6209370872, <Column name='aperture_sum' dtype='float64' length=1>
13.6821355166, <Column name='aperture_sum' dtype='float64' length=1>
231.098694564, <Column name='aperture_sum' dtype='float64' length=1>
107.245639963, <Column name='aperture_sum' dtype='float64' length=1>
1.07156087546, <Column name='aperture_sum' dtype='float64' length=1>
11.3109448359, <Column name='aperture_sum' dtype='float64' length=1>
18.4913763381, <Column name='aperture_sum' dtype='float64' length=1>
582.659755758, <Column name='aperture_sum' dtype='float64' length=1>
113.59127065, <Column name='aperture_sum' dtype='float64' length=1>
79.1398079445, <Column name='aperture_sum' dtype='float64' length=1>
324.030191168, <Column name='aperture_sum' dtype='float64' length=1>
4.36369836985, <Column name='aperture_sum' dtype='float64' length=1>
171.875572609, <Column name='aperture_sum' dtype='float64' length=1>
187.731608888, <Column name='aperture_sum' dtype='float64' length=1>
192.299301705, <Column name='aperture_sum' dtype='float64' length=1>
52.3633057596, <Column name='aperture_sum' dtype='float64' length=1>
344.15043391, <Column name='aperture_sum' dtype='float64' length=1>
154.025186003, <Column name='aperture_sum' dtype='float64' length=1>
105.680255427, <Column name='aperture_sum' dtype='float64' length=1>
118.88955556, <Column name='aperture_sum' dtype='float64' length=1>
596.347112505, <Column name='aperture_sum' dtype='float64' length=1>
683.683733854, <Column name='aperture_sum' dtype='float64' length=1>
38.2504471638, <Column name='aperture_sum' dtype='float64' length=1>
133.093422969, <Column name='aperture_sum' dtype='float64' length=1>
25.7749710848, <Column name='aperture_sum' dtype='float64' length=1>
4.22163460962, <Column name='aperture_sum' dtype='float64' length=1>
2.32697064616, <Column name='aperture_sum' dtype='float64' length=1>
44.8489473886, <Column name='aperture_sum' dtype='float64' length=1>
26.0430492479, <Column name='aperture_sum' dtype='float64' length=1>
24.6138172261, <Column name='aperture_sum' dtype='float64' length=1>
17.8746638603, <Column name='aperture_sum' dtype='float64' length=1>
45.935646422, <Column name='aperture_sum' dtype='float64' length=1>
71.6726383655, <Column name='aperture_sum' dtype='float64' length=1>
334.26540505, <Column name='aperture_sum' dtype='float64' length=1>
11.5644460089, <Column name='aperture_sum' dtype='float64' length=1>
19.3142013671, <Column name='aperture_sum' dtype='float64' length=1>
202.97639957, <Column name='aperture_sum' dtype='float64' length=1>
16.1837758055, <Column name='aperture_sum' dtype='float64' length=1>
16.7975062044, <Column name='aperture_sum' dtype='float64' length=1>
151.891344166, <Column name='aperture_sum' dtype='float64' length=1>
256.61810026, <Column name='aperture_sum' dtype='float64' length=1>
71.0498692202, <Column name='aperture_sum' dtype='float64' length=1>
93.7066327851, <Column name='aperture_sum' dtype='float64' length=1>
79.5102772059, <Column name='aperture_sum' dtype='float64' length=1>
23.9780050406, <Column name='aperture_sum' dtype='float64' length=1>
22.7413970052, <Column name='aperture_sum' dtype='float64' length=1>
477.879785942, <Column name='aperture_sum' dtype='float64' length=1>
119.635138858, <Column name='aperture_sum' dtype='float64' length=1>
28.8954008375]